<!DOCTYPE HTML>
<html>
  <head>
    <style>
      .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 25px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
      }

      .button:hover {
        background-color: green;
      }
    </style>
  </head>

  <body>
    <button class="button" onclick="redirect('/convert')">Convert Units</button>

    <script>
      function redirect(relativeURL) {
        document.location.href = relativeURL;
      }
    </script>
  </body>

</html>
